@import url(https://fonts.googleapis.com/css?family=Lato:400,300);
/* 575 boilerplate style.css */


body {
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
    color: #3d3d3d;
}
#header {
    height: 90px;
    background: #d3d3d3;
}

#context{
    height: 150px;
    position:absolute;
    left: 725px; 
    top: 500px;
    padding-right: 20px;
}

h1 {
    padding: 0;
    margin: 0;
    position: absolute;
    left: 20px;
    top: 10px;
}

h2.subheader {
    position: absolute;
    left: 258px;
    top: 53px;
    padding: 0;
    margin: 0;
}
.states {
    fill: rgb(255, 240, 240);
    stroke: rgba(106, 106, 106, 0.76);
    stroke-width: 1.5px;
}

.map {
    border: 1px solid #bfbfbf;
    margin: 10px 0 0 5px;
}

.chart {
    float: right;
    margin: 7px 20px 0 0;
}

.chartBackground {
    fill: rgb(255, 255, 255);
}

.chartFrame {
    fill: none;
    shape-rendering: crispEdges;
}

.chartTitle {
    fill: black;
    font-family: sans-serif;
    font-size: 1.3em;
}

.axis path,
.axis line {
    fill: none;
    stroke: #999;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}

.axis text {
    fill: black;
    font-family: sans-serif;
    font-size: 0.7em;   
}

.gratLines {
    fill: none;
    stroke: rgb(140, 198, 240);
    stroke-width: 1px;
}

.gratBackground {
    fill: rgb(112, 187, 240);
}


.parishes {
    stroke: rgba(0, 0, 0, 0.7);
    stroke-width: 0.2px;
    stroke-linecap: round;
}

.dropdown {
    position: absolute;
    top: 20px;
    right: 75px;
    z-index: 10;
    font-family: Lato, sans-serif;
    font-size: 1.2em;
    padding: 2px;
    border: 1px solid #999;
    background-color: rgb(255, 255, 255);
}

option {
    font-weight: normal;
}

.infolabel {
    position: absolute;
    height: 60px;
    min-width: 100px;
    color: #fff;
    background-color: #000;
    border: solid thin #fff;
    padding: 10px 10px;
    top: -75px;
    font-family: sans-serif;
}

.infolabel h2 {
    margin: 0 20px 0 0;
    padding: 5;
    display: inline-block;
    line-height: 1em;
    font-family: sans-serif;
}

.infolabel h3 {
    margin: 0 20px 0 0;
    padding: 5;
    display: inline-block;
    line-height: 1em;
    font-family: sans-serif;
}

#metadata {
    font-family: Lato, sans-serif;
    font-size: 0.6em;
}
